body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0 auto;
}

#game {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#middle-container{
    width:  700px;
}

#buttons {
    text-align: center;
}

p {
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 30px;
}

button {
    font-size: 30px;
    width: 40px;
    height: 40px;
}

#paper {
    margin: 0 10px;
}